@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";
 /* body {
 
  background-color: #020617;
  color: white;
  padding: 0;
} */

.animate-spin-slow { animation: spin 8s linear infinite; }