@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";
/* Add to globals.css */


.katex {
  font-size: 1.05em;
  line-height: 1.2;
  color: #e2e8f0; /* slate-200 */
}

/* Make variables look distinct */
.katex .mord.mathnormal {
  color: #7dd3fc; /* sky-300 */
}
 /* body {
 
  background-color: #020617;
  color: white;
  padding: 0;
} */

.animate-spin-slow { animation: spin 8s linear infinite; }